<!DOCTYPE html>
<html lang="en">
<baseline-head></baseline-head>
  <body>
    <header>
      <div class="wrapper">{% include "components/c-navigation.njk" %}</div>
    </header>

    <main class="flow wrapper">
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </main>

    <footer>
    </footer>
  </body>
</html>
