<!DOCTYPE html>
<html lang="en">
<baseline-head></baseline-head>
  <body>
    <header>
    </header>

    <main class="flow">
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </main>

    <footer>
    </footer>
  </body>
</html>
