<nav class="c-navigation">
	<div class="c-navigation__inner">
		<button class="c-navigation-switch" onclick="toggleTheme()" id="themeBtn">
			light — switch to dark
		</button>
		<div class="c-navgation-pages">
			<a class="c-navigation-switch active" href="/">
				{{ settings.title }}
			<a>
			<a class="c-navigation-switch" href="/theme-test">
				theme test
			</a>
		</div>
	</div>
</nav>
