<nav class="c-navigation">
	<div class="c-navigation__inner">
		<button class="c-navigation-switch" onclick="toggleTheme()" id="themeBtn">
			light — switch to dark
		</button>
		<div class="c-navigation-pages">
			{% set active = 'active' if ('/' == permalink) %}
			<a class="c-navigation-switch {{ active }}" href="/">
				{{ settings.title }}
			</a>
			<div class="c-navigation__group">
				{% set navigation = { 'vocabulary': '/vocabulary/', 'profile': '/profile-test/', 'document': '/document-test/' } %}
				{% for item, link in navigation %}
				{% set active = 'active' if (link == permalink) %}
					<a class="c-navigation-switch {{ active }}" href="{{ link }}">{{ item }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</nav>
