code {
	font-family: var(--font-family-code);
	font-size: var(--text-size-code);
	line-height: var(--text-lineheight-code);
	border: var(--border-width-default) solid var(--color-border);
	padding: 0.15em 0.35em;
	border-radius: var(--border-radius-control);
	background: var(--color-background-subtle);
	vertical-align: center;
}
