/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	--flow-space: var(--flow-space-m);
	line-height: var(--text-lineheight-heading);
	letter-spacing: var(--text-letterspacing-heading);
}

h1 {
	font-size: var(--text-size-display);
	font-weight: var(--font-weight-medium);
}

h1 + * {
	--flow-space: var(--flow-space-xl);
}

h2 {
	font-size: var(--text-size-title);
	font-weight: var(--font-weight-medium);
}

h3 {
	font-size: var(--text-size-body);
	font-weight: var(--font-weight-medium);
}
