.c-page-navigation {
	padding-block: var(--space-s);
}
.c-page-navigation__inner {
  display: flex;
  gap: var(--space-m);
  margin-block: var(--space-l);
}

.c-page-navigation--prev,
.c-page-navigation--next {
	text-underline-offset: 0.42em;
	line-height: 1.2;
	vertical-align: middle;
}

.c-page-navigation--next {
	margin-left: auto;
}
