.c-footer-nav {
	display: flex;
	gap: var(--space-2xs);
	flex-wrap: wrap;
	align-items: flex-start;
	padding-block-start: var(--space-inset-2xs);
	border-top: 1px solid var(--color-border-strong);
}

.c-footer-nav a {
	margin-top: 0;
	border: 1px solid transparent;
}
