.c-language-switcher {
	max-width: fit-content;
	padding-block: var(--space-inset-3xs);
}

div.c-language-switcher__inner {
	display: flex;
	align-items: flex-start;
	gap: var(--space-s);
}

.c-language-switcher__item {
	margin-top: 0;
	color: var(--color-text-primary);
	border: var(--border-width-link-strong) solid transparent;
	transition: all 0.3s ease-out;
	font-size: var(--text-size-secondary);
}

.c-language-switcher__item:hover {
	background-color: var(--color-surface-hover);
}
