.c-pricing-table {
	padding-top: var(--space-s);
	padding-bottom: var(--space-s);
	margin-top: var(--space-stack-card);
}

.c-pricing-table__inner {
	display: grid;
	column-gap: var(--space-inset-xl);
	row-gap: var(--space-stack-m);
	grid-template-columns: repeat(auto-fill, minmax(min(360px, 100%), 1fr));
}

.c-pricing-table__item {
	padding-block: var(--space-s);
	padding-inline: var(--space-s);
	border-radius: var(--border-radius-card);
	height: fit-content;
	background-color: var(--color-slate-200-alpha-08);
}

.c-pricing-table__item--x {
	grid-column: 1 / -1;
}

.c-pricing-table__item--x ul {
	font-size: var(--text-size-secondary);
}

.c-pricing-table__item h3 {
	margin: 0;
}

.c-pricing-table__item * + p {
	margin-top: var(--space-m);
}

.c-pricing-table__item ul {
	padding: 0;
	list-style-position: inside;
	list-style-type: none;
	font-size: var(--text-size-secondary);
}

@media (min-width: 768px) {
	.c-pricing-table__inner {
		grid-template-columns: repeat(auto-fill, minmax(min(360px, 100%), 1fr));
	}
}
