.o-texture {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('/assets/img/2-_FQp-yOr-1440.avif');
	background-repeat: repeat;
	background-attachment: scroll;
	mix-blend-mode: revert;
	pointer-events: none;
	opacity: 0.1;
	overflow: hidden;
	z-index: 1;
}
