.u-flow {
	--flow-space: var(--flow-space-m);
}

.u-flow > * + * {
	margin-block-start: var(--flow-space);
}

.u-flow > h1 {
	--flow-space: var(--flow-space-m);
}

.u-flow > h2 {
	--flow-space: var(--flow-space-m);
}

.u-flow > hr {
	--flow-space: var(--flow-space-xl);
}

.u-flow > blockquote {
	--flow-space: var(--flow-space-m);
}
