a {
	color: var(--color-text-primary);
	text-decoration: none;
	/* text-decoration-thickness: var(--link-underline-thickness); */
	/* text-underline-offset: var(--link-underline-offset); */
	border-bottom: var(--link-underline-thickness) solid currentColor;
	transition: all 0.3s ease-out;
	padding-inline: 0.15em;
}

a:visited {
	color: var(--tt-color-link-visited);
}

a:hover {
	background-color: var(--color-surface-hover);
	border-bottom-color: transparent;
	border-radius: 4px;
}
